<h1>Thank you</h1>

<h2>Thank you for your feedback. To confirm, this is the data you sent,</h2>

<!-- data here from index.js-->
<h3>Name: {{ name }}</h3>
<h3>email: {{ email }}</h3>
<h3>Message: {{ message }}</h3>
<h3>Curret student: {{ currentStudent }}</h3>

<h2>Departments Contacted</h2>

<ul>
    {{#each departmentList}}
        <li>{{ this }}</li>
    {{/each}}
</ul>

<a href="/">Back to the home page</a>